
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // background-color: #f5f5f5;
  background-image: url("../../src/img/space3.gif");
  background-position: center;
  background-size: cover;
}

canvas {
  background-color: white
}
