
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // background-color: #f5f5f5;
  background-image: url("../../src/img/space3.gif");
  background-position: center;
  background-size: cover;
}

canvas {
  position: absolute;
  background-color: black;
  border: 2px solid white;
  box-shadow: 0 0 10px white;
}

h1 {
  position: absolute;
  top: 8%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  font-family: pixel2;
  color: whitesmoke;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
}


#btn-restart {
  position: absolute;
  bottom: 350px;
  left: 50%;
  transform: translate(-50%);
  font-size: 24px;
  padding: 12px 24px;
  cursor: pointer;
  z-index: 100;
  display: none;
  font-family: pixel2;
}

#github {
  position: fixed;
  top: 20px;
  right: 80px;
}

#linkedin {
  position: fixed;
  top: 25px;
  right: 20px;
}

#menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  color: whitesmoke;
}

#menu h2 {
  margin-top: 0;
}

#menu button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#menu button:hover {
  background-color: #555;
}

#p1 {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: pixel2;
  color: whitesmoke;
  white-space: nowrap;
}

#p2 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: pixel2;
  color: whitesmoke;
  white-space: nowrap;
}

#h2 {
  font-family: pixel2;
}