
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // background-color: #f5f5f5;
  background-image: url("../src/img/greenSpace.png");
  background-position: center;
  background-size: cover;
}

canvas {
  position: absolute;
  background-color: black;
  border: 2px solid white;
  box-shadow: 0 0 10px white;
}

h1 {
  position: absolute;
  top: 3%;
  left: 53%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  font-family: pixel2;
  color: white;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
}


#btn-restart {
  position: absolute;
  bottom: 500px;
  left: 50%;
  transform: translate(-50%);
  font-size: 24px;
  padding: 12px 24px;
  cursor: pointer;
  z-index: 100;
  display: none;
  font-family: pixel2;
}

#github {
  position: fixed;
  top: 20px;
  right: 80px;
}

#linkedin {
  position: fixed;
  top: 25px;
  right: 20px;
}

#menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  color: whitesmoke;
  // background-color: black;
  // width: 1024px;
  // height: 576px;
}

#menu h2 {
  margin-top: 0;
}

#menu button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#menu button:hover {
  background-color: #555;
}

#p1 {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: pixel2;
  color: white;
  white-space: nowrap;
}

#p2 {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: pixel2;
  color: white;
  white-space: nowrap;
}

#h2 {
  font-family: pixel2;
}

@media screen and (max-width: 992px) {
  h1 {
    top: 5%;
    left: 50%;
    font-size: 40px; /* Reduce font size */
  }
  #p1 {
    top: 18%; /* Adjust position */
    left: 50%;
    font-size: 16px; /* Reduce font size */
  }
  #p2 {
    top: 22%; /* Adjust position */
    left: 50%;
    font-size: 16px; /* Reduce font size */
  }
  #linkedin {
    top: 60px; /* Adjust position */
    right: 20px;
  }
  #github {
    top: 60px; /* Adjust position */
    right: 80px;
  }
}
